<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988101089950-ou41vplcg9diqtq1ss9lhjmlqqe4tkm3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988101089950-ou41vplcg9diqtq1ss9lhjmlqqe4tkm3</string>
	<key>API_KEY</key>
	<string>AIzaSyDnU6Nlv2inT_3WW5YGumyDkqb-fUQsIOk</string>
	<key>GCM_SENDER_ID</key>
	<string>988101089950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>marti265-rangers.uwp.edu.ReviewCards</string>
	<key>PROJECT_ID</key>
	<string>reviewcards-7879a</string>
	<key>STORAGE_BUCKET</key>
	<string>reviewcards-7879a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988101089950:ios:eb556132e8fbddf5</string>
	<key>DATABASE_URL</key>
	<string>https://reviewcards-7879a.firebaseio.com</string>
</dict>
</plist>